body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: url('C:\\Users\\rileo\\OneDrive\\Desktop\\DonArk\\background.jpg') no-repeat center center fixed;
    background-size: cover;
    color: #333;
}

header {
    background-color: rgba(187, 255, 254, 0.9);
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo img {
    max-width: 100px; /* Tamaño reducido del logo */
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
}

nav ul li {
    margin: 0 10px;
}

nav ul li a {
    color: #333;
    text-decoration: none;
    font-weight: bold;
}

main {
    padding: 20px;
    text-align: center;
}

section {
    margin: 20px 0;
    background: rgba(255, 255, 255, 0.9);
    padding: 20px;
    border-radius: 8px;
}

h1, h2 {
    color: #FE96C7;
}

.download-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #FE96C7;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
}

.download-button:hover {
    background-color: #FF6A9D;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}

.rules-container {
    background-color: rgba(255, 255, 255, 0.9);
    border: 1px solid #ccc;
    padding: 20px;
    margin: 0 auto;
    max-width: 800px;
    position: relative;
    padding-left: 20px;
}

.rules-container::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 5px;
    height: 100%;
    background-color: #FE96C7;
}

details summary {
    font-weight: bold;
    cursor: pointer;
}

details[open] summary ~ * {
    animation: sweep .5s ease-in-out;
}

@keyframes sweep {
    0%    {opacity: 0; margin-left: -10px}
    100%  {opacity: 1; margin-left: 0px}
}

blockquote {
    border-left: none;
    margin: 10px 0;
    padding: 10px;
}
